.header{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 7px;
}


thead{
  font-size: 1.5rem;
}

.btn-add{
  border: #82225e solid thin !important;
  font-size: 1.8rem;
  padding: 0.1rem 1.5rem !important;
  border-radius: 2rem;
}

select , select:focus{
  background-color: #82225e;
  color: white;
  font-size: 1.3rem;
}

input{
  font-size: 1.2rem;
}

i{
  cursor: pointer;
}

.submit , .submit:hover{
  background-color: black !important;
  font-size: 1.8rem;
  padding: 0.5rem 2rem !important;
  color: white;
}

input ,input:focus{
  border: none;
  border-bottom: solid 1px rgb(150, 150, 150);
  border-radius: 0;
}

h4{
  font-size: 2rem;
  padding-top: 1rem;
}

h3{
  width: 6rem;
  font-size: 1.2rem;
  padding-top: 0.8rem;
}
h6{
  font-size: 1.2rem;
  padding-top: 0.8rem;
}
mat-icon{
  font-size: 3rem;
  width: 10rem;
  height: 4rem;
  cursor: pointer;
  color: #82225e;
}
