<div class="container-fluid home-page">
  <div class="row py-3 align-items-center home-topbar">
    <div class="col-6 col-md-4 d-flex align-items-center order-2 order-md-1">
      <app-time></app-time>
    </div>
    <div class="col-12 col-md-4 order-1 order-md-2">
      <p class="title header m-auto">الصفحة الرئيسية</p>
    </div>
    <div class="col-6 col-md-4 d-none d-md-flex align-items-center justify-content-end order-3">
    </div>
  </div>

  <div *ngFor="let notification of notifications">
    {{ notification.message }}
  </div>

  <div class="home-cards">
    <div class="head" routerLink="/dashboard/shipping/listorders">
      <mat-icon>local_shipping</mat-icon>
      <h4>الطلبات</h4>
    </div>
    <div class="head" routerLink="/dashboard/financial/expenses" *ngIf="rbac.canAny(RBAC.financeTeam)">
      <mat-icon>commute</mat-icon>
      <h4>المصروفات</h4>
    </div>
    <div class="head" routerLink="/dashboard/purchases/list_invoice" *ngIf="user == 'Admin'">
      <mat-icon>shopping_cart</mat-icon>
      <h4>المشتريات</h4>
    </div>
    <div class="head" routerLink="/dashboard/notification">
      <mat-icon>notifications</mat-icon>
      <h4>الاشعارات</h4>
    </div>
    <div class="head" routerLink="/dashboard/shipping/listorders" *ngIf="user == 'Admin'">
      <mat-icon>inventory_2</mat-icon>
      <h4>تقرير المخزون</h4>
    </div>
    <div class="head" routerLink="/dashboard/shipping/shippingcompany" *ngIf="user == 'Admin'">
      <mat-icon>local_shipping</mat-icon>
      <h4>حساب المندوبين وشركات الشحن</h4>
    </div>
    <div class="head" routerLink="/dashboard/shipping/collection-companies"
      *ngIf="rbac.canAny(['nav.shipping.master', 'shipping.companies.manage', 'collection_companies.manage', 'system.rbac'])">
      <mat-icon>payments</mat-icon>
      <h4>شركات التحصيل والدفع</h4>
    </div>
    <div class="head" routerLink="/dashboard/shipping/shipping-accounts-report"
      *ngIf="rbac.canAny(['nav.shipping.accounts_report', 'system.rbac'])">
      <mat-icon>account_balance_wallet</mat-icon>
      <h4>تقارير ذمم الشحن والتحصيل</h4>
    </div>
    <div class="head" routerLink="/dashboard/approvals" *ngIf="user == 'Admin'">
      <mat-icon>checklist</mat-icon>
      <h4>الموافقات</h4>
    </div>
    <div class="head" routerLink="/dashboard/admin/tracking" *ngIf="user == 'Admin'">
      <mat-icon>my_location</mat-icon>
      <h4>تتبع</h4>
    </div>
    <div class="head" routerLink="/dashboard/shopify" *ngIf="user == 'Admin'">
      <mat-icon>storefront</mat-icon>
      <h4>Shopify</h4>
    </div>
  </div>

  <div class="row p-2 mt-3">
    <div class="col-12">
      <div class="report-panel">
        <app-categories-report></app-categories-report>
      </div>
    </div>
  </div>

</div>
