<div class="container-fluid">
  <div class="row py-3">
    <div class="col-4 d-flex align-items-center">
      <app-time></app-time>
    </div>
    <div class="col-5">
      <div><p class="title header w-50 m-auto">الموافقات</p></div>
    </div>
  </div>


  <div class="container-fluid table-responsive">
    <div class="row mt-4">
      <div class="col-md-2">
        <input class="form-control" type="date" id="date" (change)="search($event)">
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <select id="type" class="form-control" (change)="search($event)">
            <option disabled selected>النوع</option>
            <option value="add">اضافه</option>
            <option value="update">تعديل</option>
            <option value="delete">حذف</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <select id="status" class="form-control" (change)="search($event)">
            <option disabled selected>الحالة</option>
            <option value="pending">قيد الانتظار</option>
            <option value="approved">تم الموافقة</option>
            <option value="rejected">مرفوضه</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="form-group">
          <select id="table_name" class="form-control" (change)="search($event)">
            <option disabled selected>المكان</option>
            <option *ngFor="let elm of filterPlace" [value]="elm?.table_name">{{elm?.arabic}}</option>
          </select>
        </div>
        <i class="fa-solid fa-xmark m-2" (click)="clearSearch()"></i>
      </div>

    </div>

    <table class="table table-hover w-75 m-auto text-center">
      <thead class="bg-dark text-white">
        <th>م</th>
        <th>النوع</th>
        <th>المكان</th>
        <th>التاريخ</th>
        <th>الحالة</th>
        <th>بواسطة</th>
        <th>-</th>
      </thead>
      <tbody>
        <tr *ngFor="let elm of data; let i = index" (dblclick)="showDetails(elm)">
          <td>{{i+1}}</td>
          <td>{{elm?.type}}</td>
          <td>{{elm?.table_name}}</td>
          <td>{{elm?.created_at | customDate}}</td>
          <td>{{elm?.status}}</td>
          <td>{{elm?.user}}</td>
          <td>
            <div  *ngIf="elm.status == 'قيد الانتظار'">
              <span [matMenuTriggerFor]="menu" style="cursor: pointer;">
                <mat-icon>more_vert</mat-icon>
              </span>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="sendApprovelStatus(elm.id , 'approved')">
                  <span>موافقة</span>
                </button>
                <button mat-menu-item (click)="sendApprovelStatus(elm.id , 'rejected')">
                  <span>رفض</span>
                </button>
              </mat-menu>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <mat-paginator #paginator
    class="demo-paginator"
    [length]="length"
    showFirstLastButtons
    (page)="onPageChange($event)"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>

</div>
