.content{
    padding: 20px 20px;
    width: 500px;
}

button {
    background-color: #82225e !important;
    border-color: #82225e !important;
}

.form-control:focus {
    border-color: #82225e !important;
    box-shadow: 0 0 0 0.1rem #82225e !important;
} 