table td{
    font-size: 22px;
}

table th{
    font-size: 25px;
}
.form-control:focus {
    border-color: #82225e !important;
    box-shadow: 0 0 0 0.1rem #82225e !important;
}

.header{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 7px;
  padding: 10px 20px;
  width: fit-content;
  }

::ng-deep .mat-mdc-paginator-container{
    justify-content: center !important;
}

.fa-pen{
  font-size: 0.8rem;
  cursor: pointer;
  color: #82225e;
}
