<div class="container-fluid">
  <div class="row py-3">
    <div class="col-4 d-flex align-items-center">
      <app-time></app-time>
    </div>
    <div class="col-5">
      <div><p class="title header w-50 m-auto"> اضافة مصروف</p></div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <!-- <app-time></app-time> -->
    </div>
  </div>

  <div class="container-fluid">
    <form class="text-start w-100 mt-2" [formGroup]="form" (ngSubmit)="submitform()">

      <div class="row">
        <div class="col-md-2">
          <input formControlName="created_at" class="form-control" type="date" [min]="minDate" [max]="maxDate">
        </div>
        <div class="col-md-3">
          <select formControlName='expense_type' class="form-control type">
            <option disabled selected value="نوع المصروف">نوع المصروف</option>
            <option value="مصروف تشغيل">مصروف تشغيل</option>
            <option value="مصروف تسويق">مصروف تسويق</option>
            <option value="مصروف ادارى">مصروف ادارى</option>
          </select>
        </div>
        <div  class="col-md-4">
          <select formControlName='kind_id' class="form-control type" id="inlineFormCustomSelect" >
            <option disabled selected value="فئة المصروف">فئة المصروف</option>
            <option *ngFor="let elm of expenseKind" [value]="elm.id">{{elm.expense_kind}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <select formControlName='bank_id' class="form-control type" id="inlineFormCustomSelect" >
            <option disabled selected value="الخزينة">الخزينة</option>
            <option *ngFor="let elm of banksData" [value]="elm.id">{{elm.name}}</option>
          </select>
        </div>

      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <div class="mb-3">
            <input class="form-control"    placeholder="بيان المصرف "
            [class.is-valid]="form.get('expens_statement')?.errors ==null && form.get('expens_statement')?.touched"
            formControlName='expens_statement' type="text" class="form-control">
            <p *ngIf="form.get('expens_statement')?.errors !=null && form.get('expens_statement')?.touched"
              class="error mb-0 text-danger">مطلوب</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <input class="form-control"    placeholder="المبلغ"
            [class.is-valid]="form.get('amount')?.errors ==null && form.get('amount')?.touched"
            formControlName='amount' type="number" min="0" class="form-control">
            <p *ngIf="form.get('amount')?.errors !=null && form.get('amount')?.touched"
              class="error mb-0 text-danger">رقم غير صحيح</p>
          </div>
        </div>
        <div class="col-md-6">
          <textarea placeholder="ملاحظات" name="" id="" formControlName='note'
          [class.is-valid]="form.get('note')?.errors ==null && form.get('note')?.touched"
          ></textarea>
          <p *ngIf="form.get('note')?.errors !=null && form.get('note')?.touched"
              class="error mb-0 text-danger">مطلوب</p>
        </div>
        <div class="col-md-6">
          <textarea placeholder="الوصف" name="" id="" cols="97%" formControlName='address'
          [class.is-valid]="form.get('address')?.errors ==null && form.get('address')?.touched"
          ></textarea>
          <p *ngIf="form.get('address')?.errors !=null && form.get('address')?.touched"
              class="error mb-0 text-danger">مطلوب</p>
        </div>
      </div>


      <div class="row text-center mt-3">
        <div class="col-md-2">
          <div class="form-group">
            <div class="element">
                <i (click)="openFileInput()" class="fa fa-camera"></i><span class="name"> {{imgtext}} </span>
                <input type="file" (change)="onFileChanged($event)" name="uploadFile"
                accept="image/*" id="fileInput"  class="img" formControlName='expense_image'>
                <p *ngIf="form.get('expense_image')?.errors !=null && form.get('expense_image')?.touched"
                class="error mb-0 text-danger">من فضلك اختر صورة</p>
              </div>
          </div>
        </div>
      </div>
      <div class="alert alert-danger text-center w-25 m-auto" *ngIf="errormessage">
        please check fields
      </div>
      <div class="text-center mt-2">
        <button
          [disabled]="form.get('expense_type')?.value =='نوع المصروف' ||
          form.get('kind_id')?.value =='فئة المصروف' ||
          form.get('bank_id')?.value =='الخزينة' ||
          form.invalid"
          type="submit" class="btn submit text-white">صرف</button>
      </div>

    </form>
  </div>







</div>
