.header{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 7px;
}

thead{
  font-size: 1.5rem;
}

tbody{
  font-size: 1.3rem;
}

i:first-child{
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
  color: white;
}

tr td:first-child{
  text-align: start;
}
