<div class="container-fluid">
    <div class="header d-flex justify-content-between py-3">
      <div>
        <app-time></app-time>
      </div>
      <div><p class="title"> فئات الموردين</p></div>
      <div><i (click)="addType()" class="fa-solid fa-plus" style="color: #ffffff;"></i></div>
    </div>
    <div class="row">
      <div class="col-md-12">
  <div class="container table-responsive py-5"> 
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col"> فئة المورد</th>
          <th scope="col">الخيارات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tabelData; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.supplier_type}}</td>
          <td><i  class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
    </div>
    
      </div>
    </div>
  </div>
  