

.fa-plus{
    background-color: black;
    padding: 5px;
    border-radius: 50%;
}

.title{
  font-size: 30px;
  font-weight: 700;
  color: white;
  background-color: black;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 3rem;
}
