.element {
    display: inline-flex;
    align-items: center;
  }
  i.fa-camera {
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
  }
  i:hover {
    opacity: 0.6;
  }
  .img {
    display: none;
  }

  button {
    background-color: #82225e !important;
    border-color: #82225e !important;
}

.form-control:focus {
    border-color: #82225e !important;
    box-shadow: 0 0 0 0.1rem #82225e !important;
}


form label{
    font-size: 20px;
    font-weight: 700;
    color: #82225e;
}

.header{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 7px;
  width: fit-content;
  padding: 10px 20px;
}
