<div class="container-fluid">
  <div class="row py-3">
    <div class="col-4 d-flex align-items-center">
      <app-time></app-time>
    </div>
    <div class="col-5">
      <div><p class="title header w-50 m-auto">تكويد الطلبات</p></div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <!-- <app-time></app-time> -->
    </div>
  </div>


  <div class="container-fluid">


    <form class="my-5" [formGroup]="form" (ngSubmit)="submitform()">
      <div class="row">
        <div class="col-md-2">
          <input class="form-control" type="date" (change)="onDateFromChange($event)" [value]="dateFrom">
        </div>

        <div class="col-md-2 d-flex align-items-end">
          <select class="form-control" name="" id="">
            <option selected disabled>شركة الشحن</option>
            <option value="">خزينة المصنع</option>
            <option value="">البنك الاهلى</option>
            <option value="">بنك مصر</option>
          </select>
        </div>
      </div>
    </form>


    <table class="table table-bordered w-75 m-auto text-center">
      <thead class="bg-dark text-white">
        <th>رقم الطلب</th>
        <th>عدد القطع</th>
        <th>عدد الاكياس</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>التكويد</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr >
          <td></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>

    <div class="text-center my-3">
      <button class="btn btn-add my-3">اضافة<i class="fa-solid fa-plus"></i></button> <br>
      <mat-icon>print</mat-icon>
    </div>
</div>
