<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">الحسابات الخدمية</h4>
                    <p class="card-category">ادارة الحسابات الخدمية (فودافون كاش، مصاري، الخ)</p>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <button mat-raised-button color="primary" (click)="openCreateDialog()">اضافة حساب
                                جديد</button>
                            <button mat-raised-button color="accent" class="mr-2" (click)="openTransferDialog()">تحويل
                                رصيد</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>صورة</th>
                                <th>اسم الحساب</th>
                                <th>رقم الحساب</th>
                                <th>الرصيد</th>
                                <th>الوصف</th>
                                <th>اجراءات</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let account of accounts">
                                    <td>
                                        <img *ngIf="account.img" [src]="account.img"
                                            style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                    </td>
                                    <td>{{ account.name }}</td>
                                    <td>{{ account.account_number }}</td>
                                    <td>{{ account.balance }}</td>
                                    <td>{{ account.description }}</td>
                                    <td>
                                        <button mat-icon-button color="primary" (click)="openCreateDialog(account)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>