.header{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 7px;
}

th:first-child{
  width: 60%;
}

thead{
  font-size: 1.5rem;
}

.btn-add{
  border: #82225e solid thin !important;
  font-size: 1.8rem;
  padding: 0.1rem 1.5rem !important;
  border-radius: 2rem;
}

i{
  color: #82225e;
  font-size: 1rem;
}

input{
  font-size: 1.2rem;
}

i{
  cursor: pointer;
}
