.title{
  font-size: 30px;
  font-weight: 700;
  color: white;
  background-color: black;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 3rem;
}




  button {
    background-color: #82225e !important;
    border-color: #82225e !important;
}

.form-control:focus {
    border-color: #82225e !important;
    box-shadow: 0 0 0 0.1rem #82225e !important;
}
