::ng-deep .mat-mdc-paginator-container{
  justify-content: center !important;
}

input{
  height: 39px;
}

.single-autocomplete {
  max-height: 20px !important;
}


table td{
  font-size: 22px;
}
table th{
  font-size: 25px;
}

.bg-gray{
  background-color: rgb(233, 233, 233);
}

.fa-circle{
  font-size: 8px;
}

.header{
background-color: black;
color: white;
text-align: center;
font-size: 2rem;
border-radius: 7px;
width: fit-content;
padding: 10px 20px;
}

a{
  color: black;
}

a:hover{
  text-decoration: none;
}
