h3{
  font-size: 1.5rem;
  /* text-align: center; */
  color: #82225e;
  font-weight: 500;
}

h4{
font-size: 1.3rem;
/* text-align: center; */
}

.header{
background-color: black;
color: white;
text-align: center;
font-size: 2rem;
border-radius: 7px;
}
