.header{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 7px;
}


thead{
  font-size: 1.5rem;
}

.btn-add{
  border: #82225e solid thin !important;
  font-size: 1.8rem;
  padding: 0.1rem 1.5rem !important;
  border-radius: 2rem;
}

select , select:focus{
  background-color: #82225e;
  color: white;
  font-size: 1.3rem;
}

input{
  font-size: 1.2rem;
}

i{
  cursor: pointer;
}

.submit , .submit:hover{
  background-color: black !important;
  font-size: 1.8rem;
  padding: 0.5rem 2rem !important;
  color: white;
}

tfoot{
  background-color: #82225e;
  color: white;
  font-size: 1.5rem;
}
i{
  color: #82225e;
  font-size: 0.8rem;
}

::ng-deep .mat-mdc-paginator-container{
  justify-content: center !important;
}

/* styles.css */
table td, table th {
  vertical-align: middle;
}
ul {
  padding-left: 0;
  margin: 0;
}

.btn-magenta {
  background-color: #82225e;
  color: white;
}
.btn-magenta:hover {
  background-color: #6e1d50;
}


.table-responsive {
  max-height: 800px;
  overflow-y: auto;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.table-responsive::-webkit-scrollbar {
  width: 1px;
}

.table-responsive::-webkit-scrollbar-track {
  background: transparent;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #82225e;
  border-radius: 3px;
}
