<div class="container-fluid">
  <div class="row py-3">
    <div class="col-md-4 d-flex align-items-center">
      <app-time></app-time>
    </div>
    <div class="col-md-5">
      <div><p class="title header w-50 m-auto">الاشعارات</p></div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <!-- <app-time></app-time> -->
    </div>
  </div>


  <div class="container-fluid text-center mt-5">
    <div class="row d-flex justify-content-center">
      <div class="head" routerLink="/dashboard/shipping/listorders">
        <h4>ارسال اشعار</h4>
        <mat-icon>send</mat-icon>
      </div>
      <div class="head" routerLink="/dashboard/notification/recieved">
        <h4>الاشعارات المستلمة</h4>
        <mat-icon>inbox</mat-icon>
      </div>
      <div class="head" routerLink="/dashboard/notification/sent">
        <h4>الاشعارات المرسلة</h4>
        <mat-icon>outgoing_mail</mat-icon>
      </div>
    </div>

  </div>


  <div class="container-fluid text-center mt-5">
    <div class="row d-flex justify-content-center">
      <div class="head" routerLink="/dashboard/notification/moves" *ngIf="user == 'Admin'">
        <h4>حركة الاشعارات</h4>
        <mat-icon>swap_horiz</mat-icon>
      </div>
    </div>

  </div>



</div>
