<div class="container-fluid">
    <div class="header d-flex justify-content-between py-3">
      <div>
        <app-time></app-time>
      </div>
      <div><p class="header2">خطوط الانتاج </p></div>
      <div><i (click)="add()" class="fa-solid fa-plus" style="color: #ffffff; background-color: black;"></i></div>
    </div>
    <div class="row">
      <div class="col-md-12">
  <div class="container table-responsive py-5">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col"> خط الانتاج</th>
          <th scope="col">المخزن</th>
          <th scope="col">الخيارات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productionData; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.production_line}}</td>
          <td>{{item.warehouse}}</td>
          <td><i (click)="deleteLine(item.id)" class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
    </div>

      </div>
    </div>
  </div>
