.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999999999999999999999999999999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading-spinner {
  border: 4px solid black;
  border-radius: 50%;
  border-top: 4px solid #f44336;
  border-right: 4px solid #f44336;
  border-bottom: 4px solid #f44336;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  z-index: 99999999999999999999999999;
}

.content{
  background-color: black;
  display: flex;
  border-radius: 10px;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
